.app {
  background: #209cee;
  height: 100vh;
}

.todo-list {
  background: #e8e8e8;
  border-radius: 4px;
  margin-top: 5rem;
  padding: 5px;
  min-width: 500px;
}

.container {
  display: flex;
  justify-content: center;
}

.todo {
  align-items: center;
  background: #fff;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  display: flex;
  font-size: 12px;
  justify-content: space-between;
  margin-bottom: 6px;
  padding: 3px 10px;
}
